<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top navbar-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="logo-text1">TOEIC</span>
      <span class="logo-text2">CARE</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Luyện tập
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Luyện bài nghe</a></li>
            <li><a class="dropdown-item" href="#">Luyện bài đọc</a></li>
            <li><a class="dropdown-item" href="#">Ngữ pháp</a></li>
            <li><a class="dropdown-item" href="#">Từ vựng</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="ms-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
