<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Thông tin liên hệ</h5>
        <p>Địa chỉ: 470 Đường Trần Đại Nghĩa, Khu đô thị, Ngũ Hành Sơn, Đà Nẵng 550000</p>
        <p>Email: thienxauxi1@gmail.com</p>
        <p>Điện thoại: 0398069880</p>
      </div>
      <div class="col-md-6">
        <h5>Đường dẫn nhanh</h5>
        <ul class="list-unstyled">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Dịch vụ</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <p class="text-center">© 2023 Từ Đàm Văn Thiên. All rights reserved.</p>
  </div>
</footer>
