<div class="container mt-4">
  <header class="header-bg">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <h1 class="header-title">ĐÀO TẠO CHẤT LƯỢNG CAO</h1>
          <p class="header-description">✓ Chúng tôi cung cấp cho các bạn nhưng chất lượng tối nhất</p>
          <p class="header-description">✓ Các đề chuẩn và sát với đề thi thực tế</p>
          <p class="header-description">✓ Chống mất gốc, nắm chắc 99% kiến thức chỉ với các đề đã làm</p>
          <a href="#home" class="btn btn-primary">Xem thêm</a>
        </div>
        <div class="col-md-6 text-center header-image">
        </div>
      </div>
    </div>
  </header>
</div>
